#calendar {
    width: 100%;
    height: 100%;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.row .alert {
    width: 100%;
}

.card-header {
    color: white;
    background-color: #003566;
}

.card-body {
    color: white;
    background-color: #000814;
}

.card-footer {
    background-color: #000814;
}

.carousel {

}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.action-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
