{% extends 'base.html' %}

{% block title %}Pointer{% endblock %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'pointer/css/pointer.css' %}">
{% endblock %}
{% block script %}{% endblock %}

{% block content %}
<div class="row" id="table-container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Status</th>
                {% if status %}
                <th scope="col">Active</th>
                {% else %}
                <th scope="col">Inactive</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Morning Start</th>
                {% if work_start_morning %}
                <td>{{ work_start_morning }}</td>
                {% else %}
                <td>None</td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Morning End</th>
                {% if work_end_morning %}
                <td>{{ work_end_morning }}</td>
                {% else %}
                <td>None</td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Afternoon Start</th>
                {% if work_start_afternoon %}
                <td>{{ work_start_afternoon }}</td>
                {% else %}
                <td>None</td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Afternoon End</th>
                {% if work_end_afternoon %}
                <td>{{ work_end_afternoon }}</td>
                {% else %}
                <td>None</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    <div class="btn-container">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" id="action_input" name="action" value="">
            <button type="button" class="btn btn-outline-secondary" id="pointerButton">Click here</button>
        </form>
        <script>
            document.getElementById("pointerButton").addEventListener("click", function() {
                document.forms[0].submit();
            });
        </script>
    </div>
</div>
{% endblock %}
