{% extends 'base.html' %}

{% block title %}Admin Panel: Dashboard{% endblock %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'admin_panel/css/admin_panel.css' %}">
<style>
.fc-daygrid-day-number, .fc-toolbar-title, .fc-col-header-cell-cushion {
    color: white !important;
}
.fc-daygrid-day.fc-day-today {
    background-color: #007bff !important;
}
</style>
{% endblock %}

{% block scripts %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@6.1.15/index.global.min.js'></script>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            contentHeight: 'auto',
            dateClick: function(info) {
                document.getElementById('eventDate').value = info.dateStr;
                document.getElementById('reason').focus();
            },
            events: "{% url 'admin_events_json' %}",
            eventDidMount: function(info) {
                info.el.style.backgroundColor = info.event.backgroundColor;
            }
        });
        calendar.render();
    });
</script>
{% endblock %}

{% block content %}
<div class="row">
    {% for alert in alerts %}
    <div class="alert alert-danger" role="alert" style="width: 100%">
    {{ alert }}
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-4">
        {% for intern in interns_list %}
        <p>
            <div class="row">
                <div class="col">
                    <a class="btn {% if intern.is_active %}btn-success{% else %}btn-danger{% endif %}" role="button" aria-expanded="false" style="width: 100%">{{ intern.user.get_full_name }}</a>
                </div>
                <div class="col">
                    <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse{{ intern.user.username }}_infos" role="button" aria-expanded="false" aria-controls="collapse{{ intern.user.username }}">Details</a>
                </div>
            </div>
        </p>
        <div class="collapse" id="collapse{{ intern.user.username }}_infos">
            <div class="card card-body">
                <p><strong>Full name:</strong> {{ intern.user.get_full_name }}<br>
                <strong>Email:</strong> {{ intern.user.email }}<br>
                <strong>Arrival:</strong> {{ intern.arrival }}<br>
                <strong>Departure:</strong> {{ intern.departure }}<br>
                <strong>Total hours:</strong> {{ intern.total_hours|floatformat:2 }}/{{ intern.mandatory_hours }}h<br>
                <strong>Days off:</strong> {{ intern.days_off_left }}/{{ intern.days_off_total }}</p>
                <a href="{% url 'report' intern.user.username requested_month %}" target="_blank">Print report</a>
            </div>
        </div>
        {% endfor %}
        <a class="btn btn-dark" href="{% url 'global_report' requested_month %}" target="_blank" style="width: 100%">Get report of every interns</a>
    </div>
    <div class="col-8">
        <div id="carousel{{ intern.user.username }}" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                {% for week, days in intern_weeks_data.items %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <table class="table table" style="color: white">
                        <thead>
                            <tr>
                                <th>Week {{ week }}</th>
                                {% for day in days %}
                                <th>{{ day.date }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>T1:</th>
                                {% for day in days %}
                                <td>{{ day.t1 }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>T2:</th>
                                {% for day in days %}
                                <td>{{ day.t2 }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>T3:</th>
                                {% for day in days %}
                                <td>{{ day.t3 }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>T4:</th>
                                {% for day in days %}
                                <td>{{ day.t4 }}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ intern.user.username }}" data-bs-slide="prev" style="opacity: 0">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ intern.user.username }}" data-bs-slide="next" style="opacity: 0">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
        </div>
    </div>
</div>

<hr>
<div class="row">
    <div id="calendar"></div>
</div>

<div class="row">
    {% for intern in interns_list %}
    <div class="col">
        {% for event in intern.event_set.all %}
        {% if not event.is_archived %}
        <div class="card" style="margin: 15px">
            <div class="card-header">
                <h4>Requested on {{ event.request_date }}</h4>
            </div>
            <div class="card-body">
                <p><strong>Intern: </strong>{{ event.intern.user.get_full_name }}<br>
                <strong>Reason: </strong>{{ event.reason }}<br>
                <strong>From: </strong>{{ event.start_date }}<br>
                <strong>To: </strong>{{ event.end_date }}<br>
                <strong>Duration: </strong>{{ event.duration }} day(s)</p>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="event_id" value="{{ event.id }}">
                    <textarea name="staff_comment" placeholder="Add a comment" required></textarea>
                    <div class="action-buttons">
                        <button type="submit" name="approve_event" value="true" class="btn btn-success">Approve</button>
                        <button type="submit" name="reject_event" value="true" class="btn btn-danger">Reject</button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
