{% extends 'base.html' %}

{% block title %}Create intern{% endblock %}
{% load static %}

{% block styles %}
<style>
    form #create_user {
        margin-top: 200px;
    }
    form button {
        margin-top: 20px;
        width: 100%;
    }
</style>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="alert alert-secondary" style="background-color: transparent; color: white; margin-top: 30px">
    <h3 style="text-align: center; margin-top: 30px; margin-bottom: 30px">Create intern</h3>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
                <label for="arrival">First day:</label>
                <input type="date" class="form-control" id="arrival" name="arrival" required>
            </div>
            <div class="col">
                <label for="first_name">First name:</label>
                <input type="text" class="form-control" id="first_name" name="first_name" required>
                <label for="password1">Password:</label>
                <input type="password" class="form-control" id="password1" name="password1" required>
                <label for="departure">Last day:</label>
                <input type="date" class="form-control" id="departure" name="departure" required>
            </div>
            <div class="col">
                <label for="last_name">Last name:</label>
                <input type="text" class="form-control" id="last_name" name="last_name" required>
                <label for="password2">Confirm password:</label>
                <input type="password" class="form-control" id="password2" name="password2" required>
                <label for="regime">Regime (in %):</label>
                <input type="number" min="0" max="100" class="form-control" id="regime" name="regime" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Intern</button>
    </form>
    <table class="table table" style="color: white">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Full name</th>
                <th scope="col">Email</th>
                <th scope="col">Regime</th>
                <th scope="col">First day</th>
                <th scope="col">Last day</th>
            </tr>
        </thead>
        <tbody>
            {% for intern in intern_list %}
            <tr>
                <td>{{ intern.user.username }}</td>
                <td>{{ intern.user.get_full_name }}</td>
                <td>{{ intern.user.email }}</td>
                <td>{{ intern.regime }}</td>
                <td>{{ intern.arrival }}</td>
                <td>{{ intern.departure }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
