{% extends 'base.html' %}

{% block title %}Create intern{% endblock %}
{% load static %}

{% block styles %}
<style>
    form #create_user {
        margin-top: 200px;
    }
    form button {
        margin-top: 20px;
        width: 100%;
    }
</style>
{% endblock %}
{% block scripts %}
<script>
    var internsData = {
        {% for intern in intern_list %}
            "{{ intern.id }}": {
                first_name: "{{ intern.user.first_name }}",
                last_name: "{{ intern.user.last_name }}",
                email: "{{ intern.user.email }}",
                regime: "{{ intern.regime }}",
                arrival: "{{ intern.arrival }}",
                departure: "{{ intern.departure }}"
            }{% if not forloop.last %},{% endif %}
        {% endfor %}
    };
    document.addEventListener('DOMContentLoaded', function() {
        var internSelect = document.getElementById('intern');

        var emailField = document.getElementById('email');
        var firstField = document.getElementById('first_name');
        var lastField = document.getElementById('last_name');
        var passField = document.getElementById('password1');
        var pass2Field = document.getElementById('password2');
        var regimeField = document.getElementById('regime');
        var arrivalField = document.getElementById('arrival');
        var departureField = document.getElementById('departure');
        internSelect.addEventListener('change', function() {
            if (this.value != "none") {
                const intern = internsData[this.value];
                emailField.value = intern.email;
                firstField.value = intern.first_name;
                lastField.value = intern.last_name;
                passField.value = "******";
                pass2Field.value = "******";
                regimeField.value = intern.regime;
                const new_arrival = new Date(intern.arrival)
                arrivalField.value = new_arrival.toISOString().split('T')[0];
                const new_departure = new Date(intern.departure)
                departureField.value = new_departure.toISOString().split('T')[0];
            } else {
                emailField.value = "";
                firstField.value = "";
                lastField.value = "";
                passField.value = "";
                pass2Field.value = "";
                regimeField.value = "";
                arrivalField.value = "";
                departureField.value = "";
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="alert alert-secondary" style="background-color: transparent; color: white; margin-top: 30px">
    <h3 style="text-align: center; margin-top: 30px; margin-bottom: 30px">Update or create an intern</h3>
    <p>
        <strong>To update an intern: </strong>Select the intern you want to change.<br>
        <strong>WARNING: ALL CHANGES ARE DESTRUCTIVE.</strong>
    </p>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <label for="intern" class="form-label">Intern:</label><br>
            <select class="form-select" id="intern" name="intern">
                <option value="none" selected>None selected</option>
                {% for intern in intern_list %}
                <option value="{{ intern.id }}">{{ intern.user.get_full_name }}</option>
                {% endfor %}
            </select><br>
        </div>
        <div class="row">
            <div class="col">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
                <label for="first_name">First name:</label>
                <input type="text" class="form-control" id="first_name" name="first_name" required>
                <label for="last_name">Last name:</label>
                <input type="text" class="form-control" id="last_name" name="last_name" required>
            </div>
            <div class="col">
                <label for="password1">Password:</label>
                <input type="password" class="form-control" id="password1" name="password1" required>
                <label for="password2">Confirm password:</label>
                <input type="password" class="form-control" id="password2" name="password2" required>
                <label for="regime">Regime (in %):</label>
                <input type="number" min="0" max="100" class="form-control" id="regime" name="regime" required>
            </div>
            <div class="col">
                <label for="arrival">First day:</label>
                <input type="date" class="form-control" id="arrival" name="arrival" required>
                <label for="departure">Last day:</label>
                <input type="date" class="form-control" id="departure" name="departure" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Intern</button>
    </form>
    <table class="table table" style="color: white">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Full name</th>
                <th scope="col">Email</th>
                <th scope="col">Regime</th>
                <th scope="col">First day</th>
                <th scope="col">Last day</th>
            </tr>
        </thead>
        <tbody>
            {% for intern in intern_list %}
            <tr>
                <td>{{ intern.user.username }}</td>
                <td>{{ intern.user.get_full_name }}</td>
                <td>{{ intern.user.email }}</td>
                <td>{{ intern.regime }}</td>
                <td>{{ intern.arrival }}</td>
                <td>{{ intern.departure }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
