{% extends 'base.html' %}

{% block title %}Create intern{% endblock %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'admin_panel/css/set_data.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="alert alert-secondary" style="background-color: transparent; color: white; margin-top: 30px">
    <h3 style="text-align: center; margin-top: 30px; margin-bottom: 30px">Update a specific timer</h3>
    <hr>
    <form method="post">
        {% csrf_token %}
        <label for="intern" class="form-label">Intern:</label>
        <div class="input-group mb-3">
            <select name="intern_id" id="intern_id" required>
                <option value="" disabled selected>Choose intern</option>
                {% for intern in intern_list %}
                <option value="{{ intern.id }}">{{ intern.user.get_full_name }}</option>
                {% endfor %}
            </select>
        </div>
        <label for="date" class="form-label">Date:</label>
        <div class="input-group mb-3">
            <input type="date" id="date" name="date" required>
        </div>
        <label for="worktime" class="form-label">Worked hours:</label>
        <div class="input-group mb-3">
            <input type="number" id="worktime" name="worktime" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}