{% extends 'base.html' %}

{% block title %}Admin Panel: Setup{% endblock %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'admin_panel/css/setup.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col" id="validate_service">
        <h4>Validate service</h4>
        <form method="post">
            {% csrf_token %}
            <select class="form-select" multiple id="service_id" name="service_id" required>
                {% for service in services %}
                <option value="{{ service.id }}">{{ service.intern.user.get_full_name }} at {{ service.t2_service }}</option>
                {% endfor %}
            </select>
            <div class="mb-3">
                <label for="comment">Comment:</label>
                <input type="text" class="form-control" id="service_comment" name="service_comment" required>
            </div>
            <button type="submit" class="btn btn-primary">Validate</button>
        </form>
    </div>

    <div class="col-md-9" id="add_intern">
        <h4>Add intern</h4>
        <form class="row" method="post">
            {% csrf_token %}
            <div class="col">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
                <label for="arrival">First day:</label>
                <input type="date" class="form-control" id="arrival" name="arrival" required>
            </div>
            <div class="col">
                <label for="first_name">First name:</label>
                <input type="text" class="form-control" id="first_name" name="first_name" required>
                <label for="password1">Password:</label>
                <input type="password" class="form-control" id="password1" name="password1" required>
                <label for="departure">Last day:</label>
                <input type="date" class="form-control" id="departure" name="departure" required>
            </div>
            <div class="col">
                <label for="last_name">Last name:</label>
                <input type="text" class="form-control" id="last_name" name="last_name" required>
                <label for="password2">Confirm password:</label>
                <input type="password" class="form-control" id="password2" name="password2" required>
                <label for="regime">Regime (in %):</label>
                <input type="number" min="0" max="100" class="form-control" id="regime" name="regime" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Intern</button>
        </form>
    </div>
</div>
{% endblock %}
