body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

body, .container-custom {
    background-color: #001D3D;
}

.container-custom {
    margin:50px;
    padding: 20px;
    border-radius: 10px;
}
