.nav-pills {
    background-color: #000814;
    align-items: center;
    border: none;
    width: 100%;
    left: 0px;
    right: 0px;
}

.nav-pills .nav-link {
    color: #FFD60A;
    border-radius: 0;
}

.nav-pills .nav-link.active {
    background-color: #000814;
    color: #FFD60A;
    border: solid 2px white;
}

.nav-pills .nav-item {
    margin: 0;
}

.nav-pills .nav-item button {
    color: #FFD60A;
}

.nav-pills .dropdown-menu {
    background-color: #000814;
}

.nav-pills a img {
    width: 40px;
    height: 40px;
    margin: 2px 2px 2px 5px;
}