.nav-tabs {
    background-color: #000814;
    align-items: center;
    border: none;
    width: 100%;
    left: 0px;
    right: 0px;
}

.nav-tabs .nav-link {
    color: #FFD60A;
    border-radius: 0;
}

.nav-tabs .nav-link.active {
    background-color: #000814;
    color: #FFD60A;
}

.nav-tabs .nav-item {
    margin: 0;
}

.nav-tabs #user-tool {
    margin-left: auto;
}

.nav-tabs #user-tool button {
    color: #FFD60A;
    margin: 0;
}
.nav-tabs a img {
    width: 40px;
    height: 40px;
    margin: 2px 2px 2px 5px;
}