{% extends 'base.html' %}

{% block title %}Planning{% endblock %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'planning/css/planning.css' %}">
<style>
.fc-daygrid-day-number, .fc-toolbar-title, .fc-col-header-cell-cushion {
    color: white !important;
}
.fc-daygrid-day.fc-day-today {
    background-color: #007bff !important;
}
</style>
{% endblock %}

{% block scripts %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@6.1.15/index.global.min.js'></script>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            contentHeight: 'auto',
            dateClick: function(info) {
                document.getElementById('eventDate').value = info.dateStr;
                document.getElementById('reason').focus();
            },
            events: "{% url 'events_json' %}",
            eventDidMount: function(info) {
                info.el.style.backgroundColor = info.event.backgroundColor;
            }
        });
        calendar.render();

        var halfDayCheckbox = document.getElementById('is_half_day');
        var endDateField = document.getElementById('end_date').parentElement;
        var halfDayField = document.getElementById('half_day').parentElement;
        halfDayCheckbox.addEventListener('change', function() {
            if (this.checked) {
                endDateField.style.display = 'none';
                halfDayField.style.display = 'block';
            } else {
                endDateField.style.display = 'block';
                halfDayField.style.display = 'none';
            }
        });
        if (halfDayCheckbox.checked) {
            endDateField.style.display = 'none';
            halfDayField.style.display = 'block';
        } else {
            endDateField.style.display = 'block';
            halfDayField.style.display = 'none';
        }
        var startDateField = document.getElementById('start_date');
        var endDateFieldInput = document.getElementById('end_date');
        startDateField.addEventListener('change', function() {
            endDateFieldInput.value = this.value;
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <div id='calendar'></div>
    </div>
    <div class="col-sm-4">
        <div id="eventFormSection">
            <h3>Submit a day-off</h3>
            <form id="eventForm" method="post">
            {% csrf_token %}
                <input type="hidden" id="eventDate" name="start_date">
                <label for="reason" class="form-label">Reason:</label><br>
                <input type="text" class="form-control" placeholder="Sick, day-off, other..." id="reason" name="reason" required><br>

                <p>Is it a half day ?</p>
                <input type="checkbox" id="is_half_day" name="is_half_day" value="1"><br>

                <label for="start_date" class="form-label">Start Date:</label>
                <input type="date" class="form-control" id="start_date" name="start_date" required>

                <div>
                    <label for="end_date" class="form-label">End Date:</label>
                    <input type="date" class="form-control" id="end_date" name="end_date" required><br>
                </div>

                <div>
                    <label for="half_day" class="form-label">When do you leave ?</label>
                    <select class="form-select" id="half_day" name="half_day" required>
                        <option value="" disabled selected>Select an option</option>
                        <option value="1">In the morning</option>
                        <option value="2">In the afternoon</option>
                    </select>
                </div>

                <button class="btn btn-outline-secondary" type="submit">Submit</button>
            </form>
            <h3>Infos:</h3>
            <p>Days off remaining: {{ days_off_left }}</p>
            <p>Days off on hold: {{ days_off_onhold }}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table" style="color: white; margin-top: 20px">
            <thead>
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Reason</th>
                    <th>Half Day</th>
                    <th>Staff Comment</th>
                    <th>Approbation</th>
                </tr>
            </thead>
            <tbody>
                {% for ongoings in ongoings %}
                <tr>
                    <td>{{ ongoings.start_date }}</td>
                    <td>{{ ongoings.end_date }}</td>
                    <td>{{ ongoings.reason }}</td>
                    <td>{{ ongoings.half_day }}</td>
                    <td>{{ ongoings.staff_comment }}</td>
                    <td>Request sent</td>
                </tr>
                {% endfor %}
                {% for response in responses %}
                <tr>
                    <td>{{ response.start_date }}</td>
                    <td>{{ response.end_date }}</td>
                    <td>{{ response.reason }}</td>
                    <td>{{ response.half_day }}</td>
                    <td>{{ response.staff_comment }}</td>
                    {% if response.approbation == 1 %}
                    <td>Approved</td>
                    {% elif response.approbation == 2 %}
                    <td>Refused</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
