<ul class="nav nav-tabs">
    <li class="nav-item" id="pages">
        <a class="nav-link {% if request.resolver_match.url_name == 'admin_panel' %}active{% endif %}" href="{% url 'admin_panel' %}">Panel</a>
    </li>
    <li class="nav-item" id="pages">
        <a class="nav-link {% if request.resolver_match.url_name == 'setup' %}active{% endif %}" href="{% url 'setup' %}">Setup</a>
    </li>
    <li class="nav-item" id="pages">
        <a class="nav-link {% if request.resolver_match.url_name == 'planning' %}active{% endif %}" href="{% url 'planning' %}">Planning</a>
    </li>
    <li class="nav-item" id="user-tool">
        <a class="nav-link" href="{% url 'logout' %}">Logout from {{ name }}</a>
    </li>
</ul>
