<ul class="nav nav-pills">
    <a class="navbar-brand" href="#">
        <img src="/static/favicon.ico" alt="" width="30" height="24">
    </a>
    <li class="nav-item" id="pages">
        <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">Dashboard</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Edit or Create</a>
      <ul class="dropdown-menu">
        <li class="nav-item" id="pages">
            <a class="nav-link {% if request.resolver_match.url_name == 'create_intern' %}active{% endif %}" href="{% url 'create_intern' %}">Create intern</a>
        </li>
        <li class="nav-item" id="pages">
            <a class="nav-link {% if request.resolver_match.url_name == 'add_publicholiday' %}active{% endif %}" href="{% url 'add_publicholiday' %}">Create holiday</a>
        </li>
        <li class="nav-item" id="pages">
            <a class="nav-link {% if request.resolver_match.url_name == 'planning' %}active{% endif %}" href="{% url 'planning' %}">Edit events</a>
        </li>
        <li class="nav-item" id="pages">
            <a class="nav-link {% if request.resolver_match.url_name == 'edit_data' %}active{% endif %}" href="{% url 'edit_data' %}">Edit data</a>
        </li>
      </ul>
    </li>
    <li class="nav-item" id="tools">
        <form class="nav-item" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <a href="javascript:;" onclick="parentNode.submit()">Logout from {{ request.user.first_name }}</a>
        </form>
    </li>
</ul>