<ul class="nav nav-pills">
    <a class="navbar-brand" href="#">
        <img src="/static/favicon.ico" alt="" width="30" height="24">
    </a>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'pointer' %}active{% endif %}" href="{% url 'pointer' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'planning' %}active{% endif %}" href="{% url 'planning' %}">Planning</a>
    </li>
    <li class="nav-item" id="tools">
        <form class="nav-item" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <a href="javascript:;" onclick="parentNode.submit()">Logout from {{ request.user.first_name }}</a>
        </form>
    </li>
  </ul>