<ul class="nav nav-tabs">
    <a class="navbar-brand" href="#">
        <img src="/static/favicon.ico" alt="" width="30" height="24">
    </a>
    <li class="nav-item" id="pages">
        <a class="nav-link {% if request.resolver_match.url_name == 'pointer' %}active{% endif %}" href="{% url 'pointer' %}">Home</a>
    </li>
    <li class="nav-item" id="pages">
        <a class="nav-link {% if request.resolver_match.url_name == 'planning' %}active{% endif %}" href="{% url 'planning' %}">Planning</a>
    </li>
    <li class="nav-item" id="user-tool">
        <form class="d-flex" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="btn btn-link" type="submit">Logout from {{ name }}</button>
        </form>
    </li>
</ul>
