body {
    font-family: 'Arial', sans-serif;
    background-color: #001D3D;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
h1 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.nav-pills a img {
    width: 60px;
    height: 40px;
    padding: 3px;
}