h2, button {
    margin-top: 20px;
}

.row .table {
    color: white;
    width: 100%;
    margin-top: 20px;
}

#calendar, #eventFormSection {
    width: 100%;
    margin-top: 20px;
}

#calendar, #eventFormSection {
    height: 95%;
}

#eventFormSection {
    font-size: 15px;
    background-color: #000814;
    padding: 10px;
}
